.title {
    width: 60%;
    align-self: center;
}

.NgxEditor__Wrapper {
    width: 60%;
    align-self: center;
}

.buttons {
    width: 60%;
    align-self: center;
}

button:hover {
    background-color: #f1f1f1;
}