<div class="flex min-h-full w-full">
  <div class="min-w-60">
    <app-template-list [newStoredTemplate]="sendedData" (templateEmitter)="receiveTemplate($event)"></app-template-list>
  </div>
  <div class="mx-auto mt-5 flex h-screen flex-col">
    <div class="title mb-2 h-9 min-w-96 rounded-md border-2">
      <textarea class="font-xl h-full w-full" style="resize: none"> {{ selectedTemplate?.name }}</textarea>
    </div>
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
    </div>
    <div class="buttons min-w-96">
      <button class="m-5 h-min w-20 rounded-xl border bg-green-200">Save</button>
      <button (click)="new()" class="m-5 h-min w-20 rounded-xl border bg-green-200">New</button>
    </div>
  </div>
</div>
