body {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: 10;
}
body::before {
  position: absolute;
  z-index: -1;
  inset: 0;
  content: "";
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../../assets/background.jpg");
  background-size: cover;
  background-position: center;
  filter: hue-rotate(220deg);
}

.container {
  max-width: 428px;
  width: 100%;
  padding: 36px 48px;

  background-color: white;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: -100px;
  height: fit-content;

  border-radius: 10px;
}

input {
  width: 100%;
  padding: 12px 16px;
  margin: 5px 0 22px 0;
  display: inline-block;
  padding-right: 40px;
  border: none;
  border-radius: 5px;
  background: #f2f2f2;
}

.btn {
  background-color: #d76b59;
  color: white;
  padding: 10px 12px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  transition: 0.2s;
  font-weight: 500;
}

.btn:hover {
  opacity: 1;
}
btn:active {
  transform: scale(0.98);
}

.password-container {
  position: relative;
  display: inline-block;
}

.show-password-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-100%);
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

#token {
  font-size: larger;
  font-weight: bold;
}
