header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header::after {
  content: "";
  position: absolute;
  left: 240px; /* width of the sidenav */
  top: 60px;
  width: 100%; /* width of the stripe */
  height: 20px;
  background-color: #e76452;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
