<button class="pressable rounded-md border px-2 py-1" (click)="openModal()">disable</button>

<app-modal
  title="Disable 2fa"
  [subTitle]="'Please confirm your choice by filling a last otp. \n If you don\'t have access to a otp, please contact your administrator.'"
  (onClose)="closeModal()"
>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <h2 class="text-lg font-semibold">Confirm Code</h2>
    <ng-otp-input
      [formCtrl]="form.controls.totp"
      [config]="{ length: 6, inputClass: '!size-10 !text-lg', containerClass: 'flex items-center w-full', allowNumbersOnly: true }"
    />
    <span class="text-sm font-medium text-red-500">{{ form.getError("totp") }}</span>
    <button
      class="mt-4 w-full rounded-md bg-primary-blue-2 py-2 font-medium text-white transition-all hover:bg-primary-blue-1 enabled:active:scale-[98%] disabled:bg-primary-blue-3"
    >
      Enable 2fa
    </button>
  </form>
</app-modal>
