<div class="flex w-full flex-col gap-8 p-8">
  @if (selectedBatch()) {
    <div class="flex justify-between">
      <div class="group flex gap-2">
        <h1 *ngIf="!batchEditmode; else editMode" class="max-w-96 truncate text-3xl font-semibold">{{ batchName }}</h1>

        <ng-template #editMode>
          <input autofocus [(ngModel)]="batchName" class="w-min rounded-md text-3xl font-semibold !outline !outline-2" />
        </ng-template>
        <button
          (click)="toggleBatchEditMode()"
          class="flex items-center gap-1 rounded-lg px-3 py-2 font-semibold text-black/40 transition-all group-hover:text-black"
        >
          <lucide-icon class="size-6" [name]="batchEditmode ? 'save' : 'edit-icon'" />
        </button>
      </div>
      <div class="flex gap-2">
        @if (selectedBatch()?.state !== "SENT") {
          <button
            (click)="onSendClick()"
            [disabled]="selectedBatch()?.state === 'SENDING'"
            class="flex items-center justify-center gap-1 rounded-lg bg-primary-blue-1 px-3 py-2 font-semibold text-white transition-all enabled:hover:bg-primary-blue-1/85 enabled:active:scale-[98%]"
          >
            @if (selectedBatch()?.state === "NOTSENT") {
              Send <lucide-icon class="h-[16px]" name="send-icon" />
            } @else {
              <div class="flex items-center justify-center gap-2">
                Sending... <app-spinner class="grid h-5 w-5 fill-white text-primary-blue-2" />
              </div>
            }
          </button>
        } @else {
          <button
            disabled
            class="flex items-center justify-center gap-1 rounded-lg bg-green-600 px-3 py-2 font-semibold text-white transition-all"
          >
            Sent!
          </button>
        }
      </div>
    </div>

    <div class="grid grid-cols-2 gap-x-4 gap-y-6">
      <div class="flex w-full flex-col gap-4 rounded-xl border border-black/[0.05] bg-secondary-light-2/50 p-5">
        <h2 class="text-xl font-semibold">Statistics</h2>
        <div class="grid w-full grid-cols-[180px,auto] gap-x-4 font-medium">
          <span class="">Status:</span>
          <span class="opacity-60">{{
            { NOTSENT: "Not sent", SENT: "Sent", SENDING: "Sending...." }[selectedBatch()?.state ?? "NOTSENT"]
          }}</span>
          <div class="col-span-2">
            <div class="my-2 h-px w-full bg-black/5"></div>
          </div>
          <span class="">Contacts:</span>
          <span class="opacity-60">{{ selectedBatch()?.contacts?.length }}</span>
          <span class="">New contacts:</span>
          <span class="opacity-60">-</span>
          <span class="">Recurring contacts:</span>
          <span class="opacity-60">-</span>
          <span class="">Platforms:</span>
          <span class="opacity-60">{{ usedPlatforms()?.join(", ") }}</span>
          <span class="">Regions:</span>
          <span class="opacity-60">2</span>
          <div class="col-span-2">
            <div class="my-2 h-px w-full bg-black/5"></div>
          </div>
          @if (selectedBatch()?.state !== "SENT") {
            <span class="">Messages sent:</span>
            <span class="opacity-60">-</span>
            <span class="">Errors:</span>
            <span class="opacity-60">-</span>
            <span class="">Read:</span>
            <span class="opacity-60">-</span>
            <span class="">Replies:</span>
            <span class="opacity-60">-</span>
          } @else {
            <span class="">Messages sent:</span>
            <span class="opacity-60">32</span>
            <span class="">Errors:</span>
            <span class="opacity-60">5</span>
            <span class="">Read:</span>
            <span class="opacity-60">18</span>
            <span class="">Replies:</span>
            <span class="opacity-60">4</span>
          }
        </div>
      </div>
      <div class="flex h-min w-full flex-col gap-4 rounded-xl border border-black/[0.05] bg-secondary-light-2/50 p-5">
        <h2 class="text-xl font-semibold">Templates</h2>
        <div class="grid grid-cols-1 gap-2">
          @if (platformTemplateMap().length > 0) {
            @for (platform of platformTemplateMap(); track platform) {
              <label for="" class="flex flex-row items-center gap-1">
                <span class="block w-32 text-sm font-medium opacity-65">{{ platform[0] }}</span>
                @if (selectedBatch()?.state === "NOTSENT") {
                  <select name="" id="" class="w-full rounded-md border border-black/5 px-2 py-1.5">
                    @for (template of platform[1]; track template.id) {
                      <option value="{{ template.id }}">{{ template.header }}</option>
                    }

                    @if (platform[1].length === 0) {
                      <option value="NO_TEMPLATE" disabled selected>No template available</option>
                    }
                  </select>
                } @else {
                  <div class="w-full rounded-md border border-black/5 bg-white px-2 py-1.5">template 1</div>
                }
              </label>
            }
          }
        </div>
      </div>
      <div class="col-span-2 flex-col">
        <h2 class="mb-2 text-2xl font-semibold">Contacts</h2>
        <ul class="flex flex-col gap-2">
          @for (contact of selectedBatch()?.contacts; track contact.id) {
            <li>
              <div
                class="flex flex-col gap-2.5 rounded-xl border border-black/5 bg-secondary-light-2/50 px-4 py-3.5 transition-all"
                [class.opacity-30]="contact.hidden"
              >
                <div class="flex justify-between">
                  <div class="flex items-center gap-2">
                    <img [src]="'/assets/platforms/' + contact.platform.toLowerCase() + '.png'" alt="" class="size-8" />
                    <div class="flex flex-col">
                      <span class="font-semibold">{{ contact.firstName }}</span>
                      <span class="text-xs font-semibold text-[#676768]">{{ contact.nickname }}</span>
                    </div>
                  </div>
                  <div class="flex cursor-pointer gap-3 opacity-30 transition-all hover:opacity-100">
                    <lucide-icon *ngIf="editingContact !== contact" name="edit-icon" class="size-[16px]" (click)="onEditClick(contact)" />
                    <lucide-icon *ngIf="editingContact === contact" name="save" class="size-[16px]" (click)="onSaveClick()" />
                    <lucide-icon name="box-select" class="size-[16px]" (click)="grayOut(contact.id, contact.hidden)" />
                    <lucide-icon name="trash-icon" class="size-[16px]" (click)="onDeleteClick(contact)" />
                  </div>
                </div>
                <div class="grid grid-cols-[120px,auto] text-sm font-medium">
                  <span class="text-[#676768]">Status</span>
                  <span>{{ statusService.renderStatus(contact.status) }}</span>

                  <span class="text-[#676768]" *ngIf="editingContact === contact">Fullname</span>
                  <input
                    class="focusable mb-1 rounded-md bg-white px-1 py-0.5 text-base"
                    *ngIf="editingContact === contact"
                    [ngModel]="editingContact.firstName"
                    (ngModelChange)="editingContact.firstName = $event"
                  />

                  <span class="text-[#676768]" *ngIf="editingContact === contact">Username</span>
                  <input
                    class="focusable mb-1 rounded-md bg-white px-1 py-0.5 text-base"
                    *ngIf="editingContact === contact"
                    [ngModel]="editingContact.nickname"
                    (ngModelChange)="editingContact.nickname = $event"
                  />

                  <span class="text-[#676768]">Audience</span>
                  <span class="font-semibold text-[#676768]" *ngIf="editingContact !== contact"> {{ contact.audience }}</span>
                  <input
                    class="focusable mb-1 rounded-md bg-white px-1 py-0.5 text-base"
                    [ngModel]="editingContact.audience"
                    (ngModelChange)="editingContact && (editingContact.audience = $event)"
                    *ngIf="editingContact === contact"
                  />

                  <span class="text-[#676768]">Region</span>
                  <span class="font-semibold text-[#676768]" *ngIf="editingContact !== contact"> {{ contact.region }}</span>
                  <input
                    class="focusable mb-1 rounded-md bg-white px-1 py-0.5 text-base"
                    *ngIf="editingContact === contact"
                    [ngModel]="editingContact.region"
                    (ngModelChange)="editingContact.region = $event"
                  />

                  <span class="text-[#676768]">Language</span>
                  <span class="font-semibold text-[#676768]" *ngIf="editingContact !== contact"> {{ contact.language }}</span>
                  <input
                    class="focusable mb-1 rounded-md bg-white px-1 py-0.5 text-base"
                    *ngIf="editingContact === contact"
                    [ngModel]="editingContact.language"
                    (ngModelChange)="editingContact.language = $event"
                  />

                  <span class="text-[#676768]">Sex</span>
                  <span class="font-semibold text-[#676768]" *ngIf="editingContact !== contact"> {{ contact.sex }}</span>
                  <input
                    class="focusable mb-1 rounded-md bg-white px-1 py-0.5 text-base"
                    [ngModel]="editingContact.sex"
                    (ngModelChange)="editingContact && (editingContact.sex = $event)"
                    *ngIf="editingContact === contact"
                  />

                  <span class="text-[#676768]">Platform</span>
                  <span class="font-semibold text-[#676768]" *ngIf="editingContact !== contact">{{ contact.platform }}</span>
                  <select
                    class="focusable mb-1 rounded-md bg-white px-1 py-0.5 text-base"
                    *ngIf="editingContact === contact"
                    [ngModel]="editingContact.platform"
                    (ngModelChange)="editingContact.platform = $event"
                  >
                    @for (platform of platforms; track platform) {
                      <option value="{{ platform }}">{{ platform }}</option>
                    }
                  </select>
                </div>
              </div>
            </li>
          }
        </ul>
      </div>
    </div>
  } @else {
    <div class="grid place-items-center"><h1 class="mt-96 text-3xl font-bold opacity-40">Please select a batch</h1></div>
  }
</div>
