<div class="flex min-h-full w-full">
  <div class="relative h-full min-w-96 border-r border-r-base-6">
    <div class="sticky top-[44px] z-10 bg-white p-2.5">
      <ul class="flex h-[calc(100vh-80px-76px)] flex-col gap-2.5 overflow-y-auto p-2.5">
        @for (contact of contacts; track contacts.concat.name) {
          <li>
            <app-contacts-list-item [contact]="contact"></app-contacts-list-item>
          </li>
        }
      </ul>
    </div>
  </div>

  <div class="mx-auto mt-5 flex h-screen flex-col"></div>
</div>
