<button
  class="flex w-full items-center justify-between rounded-2xl border border-base-6 px-4 py-3.5 text-left transition-all active:scale-[98%]"
(click)="displayCurrentTemplate(template)">
  <div class="flex flex-col gap-1">
    <h3 class="text-base font-semibold">{{template.name}}</h3>
    <div class="text-base-5 grid grid-cols-[min-content,1fr] gap-x-1 text-xs opacity-75">
    </div>
  </div>

  <div class="flex flex-col justify-end">
    <lucide-icon name="chevron-right-icon" class="h-[14px] stroke-[2.6]" />
  </div>
</button>
