@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

@import "ngx-toastr/toastr";

/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-group(navlink-batches, navlink-contacts, navlink-reports, navlink-users) {
  z-index: 100;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0ms;
}

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      // primary: matx.$m3-azure-palette,
      // tertiary: matx.$m3-blue-palette,
    ),
  )
);

@include mat.core();
// @include matx.color-variants-back-compat($theme);

:root {
  @include mat.all-component-themes($theme);
}

.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  border-color: transparent !important;
}

.mat-form-field-infix {
  padding: 0.4em 0px;
}

.mat-form-field-label-wrapper {
  top: -1.5em;
}

.mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}

.mat-mdc-chip-action::before {
  border: 0px !important;
}

*:active,
*:focus,
*:focus-visible {
  outline-color: #4b5e84;
}

.focusable:focus-visible,
.focusable:focus-within {
  outline: 2px solid #4b5e84;
}

.header-margin {
  margin-top: 20px;
}

.pressable {
  cursor: pointer;
  transition: transform 0.2s;
}

.pressable:active {
  transform: scale(0.95);
}

.placeholder {
  @apply inline-block rounded-md bg-primary-red-3/30 px-1 py-0.5 text-sm font-semibold text-primary-red-1;
}

.placeholder.ProseMirror-selectednode {
  @apply outline outline-primary-red-1;
}

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}
